.button {
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Ensure text is centered inside the button */
}

/* Primary button style */
.button--primary {
  background-color: #c8102e; /* Primary color */
  color: white;
}

/* Secondary button style */
.button--secondary {
  background-color: #f6eb61; /* Secondary color */
  color: #333;
  font-size: 14px; /* Smaller font size */
}

.button--tertiary {
  background-color: #ecebeb; /* Tertiary color */
  color: #333;
}

/* To center the button in its container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add spacing to the top */
}
