.h1 {
  font-size: 18px;
  font-weight: bold;
}

.h2 {
  font-size: 16px;
  font-weight: bold;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-22 {
  font-size: 28px;
}

.input {
  width: 70%;
  height: 25px;
  border: 2px solid #fff;
  border-bottom: 1px solid #c7c7c7;
  padding: 5px;
  font-size: 14px;
  border-radius: 0px;
  outline: none;
}

.bold {
  font-weight: bold;
}

.red {
  color: #c8102e; /* Red color */
}

.route {
  color: #00b2a9; /* Route color */
}

.full-stop {
  color: #c8102e; /* Full stop color */
}

/* Example of error styling */
.error-message {
  color: red; /* Set the error text color to red */
  font-size: 12px; /* Define the font size for error messages */
  font-weight: bold;
  margin-top: 10px;
}

/* Optionally, if you want to handle fs-12 specifically */
.fs-12 {
  font-size: 12px; /* Apply font size 12px */
}
