.home {
  padding: 20px;
  height: 100vh;
  background-color: #f4f4f4;
  margin-bottom: 100px;
}

.match-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.match-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  .match-header {
    display: flex;
    justify-content: space-between; /* Aligns logo/name to the left, date to the right */
    align-items: center;
    margin-bottom: 15px;
  }

  .competition-info {
    display: flex;
    align-items: center;
    gap: 5px; /* Closer gap between the logo and the name */
  }

  .competition-logo {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .competition-name {
    font-size: 12px; /* Slightly larger font for the competition name */
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
  }

  .match-time {
    font-size: 12px;
    color: #555;
    font-weight: bold;
    text-align: right;
  }

  .match-body {
    display: flex;
    align-items: center; /* Align time and teams horizontally */
    gap: 15px; /* Add space between time and teams */
    margin-bottom: 10px;
  }

  .match-time {
    font-size: 10px;
    font-weight: bold;
    width: 50px; /* Set fixed width to keep time on the left */
    text-align: left;
    margin-left: 10px;
  }

  .match-time-left {
    display: flex;
    flex-direction: column; /* Stack teams vertically */
    gap: 10px; /* Add space between teams */

    .team {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .team-logo {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }

    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.loading {
  text-align: center;
  font-size: 10px;
  color: #c8102e;
}

.button--link {
  background: none;
  border: none;
  color: #c8102e;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  font-size: inherit;
}

.button--link:hover {
  color: #c8102e;
}
